@media only screen and (max-width: 601px) {
    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    slide-icon,
    nav a.button-collapse i {
        height: 64px;
        line-height: 64px;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}